.form-group {
    display: inline-block;
    vertical-align: middle;
}

video {
    padding: 10px;
    margin-bottom: 10px;
}

.navbar {
    background-color: #9b59b6;
    border-color: #8e44ad;
    color: #ecf0f1;
    margin-bottom: 30px;
}

.link-container {
    width: 50%;
    margin: auto;
}